<h3>Implementing Heirarchial Clustering</h3>

In [3]:
#Importing essential librarires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Importing the data
data=pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
data=data.drop(columns=["CustomerID"])

In [9]:
#one hot encoding(here simply mapping)
Gender_ohe=data["Gender"].map({"Male":1,"Female":0})
data["Gender_ohe"]=Gender_ohe
data=data.drop(columns=["Gender"])

In [11]:
#Standard Scaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
data.Age=scaler.fit_transform(pd.DataFrame(data.Age))
data1=pd.DataFrame(data,columns=["Age","Income","SS","Gender"])
data1.Income=data.iloc[:,1]
data1.SS=data.iloc[:,2]
data1.Gender=data.iloc[:,3]
data=data1
data.Income=scaler.fit_transform(pd.DataFrame(data.Income))
data.SS=scaler.fit_transform(pd.DataFrame(data.SS))
data.head()

        Age    Income        SS  Gender
0 -1.424569 -1.738999 -0.434801       1
1 -1.281035 -1.738999  1.195704       1
2 -1.352802 -1.700830 -1.715913       0
3 -1.137502 -1.700830  1.040418       0
4 -0.563369 -1.662660 -0.395980       0

In [13]:
#Heirarchial Clustering
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score
list=[]
for i in [2,3,5,7]:
    model=AgglomerativeClustering(n_clusters=i)
    y_pred=model.fit_predict(data)
    ss=silhouette_score(data,y_pred)
    d={i:ss}
    list.append(d)
print(list)

[{2: 0.2923040670626512}, {3: 0.30972453727559257}, {5: 0.3477559149875169}, {7: 0.31540515140480885}]

In [15]:
model=AgglomerativeClustering(n_clusters=5)
y_pred=(model.fit_predict(data))

In [25]:
#Silhouette score
from sklearn.metrics import silhouette_score
score=silhouette_score(data,y_pred)
print(score)

0.3477559149875169